ComHub/Order.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by Kevin Liddiard (CommerceHub) -->
<!--W3C Schema generated by XMLSpy v2010 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="OrderMessageBatch">
		<xs:annotation>
			<xs:documentation>This is the root element for the purchase order message.  It is used to contain sub-elements and attributes.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="partnerID"/>
				<xs:element ref="hubOrder" maxOccurs="unbounded"/>
				<xs:element ref="messageCount"/>
			</xs:sequence>
			<xs:attribute name="batchNumber" use="required">
				<xs:annotation>
					<xs:documentation>Will contain a batch ID assigned to the entire OrderMessageBatch.  This value is required to be captured and returned in the Functional Acknowledgement (trxSetID element).</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="hubOrder">
		<xs:annotation>
			<xs:documentation>This element is used to contain sub-elements that are related to a specific purchase order.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="participatingParty" maxOccurs="unbounded"/>
				<xs:element ref="sendersIdForReceiver"/>
				<xs:element ref="orderId"/>
				<xs:element ref="lineCount"/>
				<xs:element ref="poNumber"/>
				<xs:element ref="orderDate"/>
				<xs:element ref="shipTo"/>
				<xs:element ref="billTo"/>
				<xs:element ref="shippingCode"/>
				<xs:element ref="custOrderNumber"/>
				<xs:element ref="poHdrData"/>
				<xs:element ref="lineItem" maxOccurs="unbounded"/>
				<xs:element ref="personPlace" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type" use="optional">
				<xs:annotation>
					<xs:documentation>This attribute will contain a value that can be used to determine what type of purchase order is being sent.  If this attribute is not included, the purchase order type can be considered to be the original issue.  (i.e. “stand alone”|”reissue”|”resend”)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="stand alone"/>
						<xs:enumeration value="reissue"/>
						<xs:enumeration value="resend"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="transactionID" use="required">
				<xs:annotation>
					<xs:documentation>This attribute will contain a transaction ID assigned to each purchase order.  This value is required to be captured and returned in the Functional Acknowledgement (trxID element).</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="poHdrData">
		<xs:annotation>
			<xs:documentation>Used to contain sub-elements related to the purchase order header level.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="reqShipDate" minOccurs="0"/>
				<xs:element ref="packListData" minOccurs="0"/>
				<xs:element ref="custOrderNumber"/>
				<xs:element ref="poTypeCode" minOccurs="0"/>
				<xs:element ref="giftMessage" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="packListData">
		<xs:annotation>
			<xs:documentation>Contain sub-elements and attributes that are related to what may be needed to print on the customer packing slip.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="packslipTemplate" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="lineItem">
		<xs:annotation>
			<xs:documentation>Used to contain sub-elements related to the line items included within the purchase order.  This element is unbounded and an unlimited number of lineItem elements can be included within a purchase order.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="lineItemId"/>
				<xs:element ref="orderLineNumber"/>
				<xs:element ref="merchantLineNumber"/>
				<xs:element ref="qtyOrdered"/>
				<xs:element ref="unitOfMeasure"/>
				<xs:element ref="description"/>
				<xs:element ref="description2" minOccurs="0"/>
				<xs:element ref="merchantSKU"/>
				<xs:element ref="vendorSKU"/>
				<xs:element ref="unitCost"/>
				<xs:element ref="shippingCode"/>
				<xs:element ref="requestedArrivalDate"/>
				<xs:element ref="poLineData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="poLineData">
		<xs:annotation>
			<xs:documentation>Contains sub-elements that make up supplemental line item data.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="unitShippingWeight"/>
				<xs:element ref="lineReqShipDate" minOccurs="0"/>
				<xs:element ref="giftMessage" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="personPlace">
		<xs:annotation>
			<xs:documentation>Used to contain attributes and sub-elements that make up the name and address for a given party involved in the purchase order transaction.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name1"/>
				<xs:element ref="address1"/>
				<xs:element ref="address2" minOccurs="0"/>
				<xs:element ref="city"/>
				<xs:element ref="state"/>
				<xs:element ref="country" minOccurs="0"/>
				<xs:element ref="postalCode"/>
				<xs:element ref="email"/>
				<xs:element ref="dayPhone"/>
				<xs:element ref="partnerPersonPlaceId" minOccurs="0"/>
				<xs:element ref="personPlaceData" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="personPlaceID" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation>The value included in this attribute is used as a reference from a previous personPlaceID attribute.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="personPlaceData">
		<xs:annotation>
			<xs:documentation>Used to contain sub-elements that make up additional information about the related party.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="companyName" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="partnerID">
		<xs:annotation>
			<xs:documentation>The partnerID element will contain the CommerceHub assigned ID for the receiving party.  Contact CommerceHub to obtain this ID.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute name="name" use="required">
				<xs:annotation>
					<xs:documentation>The company name for the receiving party.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="roleType" use="required">
				<xs:annotation>
					<xs:documentation>The role type for the receiving party.  This attribute will contain a value of ‘vendor’.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="vendor"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="messageCount">
		<xs:annotation>
			<xs:documentation>The messageCount element will contain a numeric count of hubOrder elements contained in the document.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="participatingParty">
		<xs:annotation>
			<xs:documentation>This element contains the CommerceHub assigned ID for the sending party.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute name="name" use="required">
				<xs:annotation>
					<xs:documentation>Will contain the company name for the sending party.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="roleType" use="required">
				<xs:annotation>
					<xs:documentation>will contain the role type for the sending party.  This attribute will contain a value of ‘merchant’.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="merchant"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="participationCode" use="required">
				<xs:annotation>
					<xs:documentation>will contain an email address code that applies to the participatingParty.  This attribute will contain a value of ‘From:’.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="From:"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="sendersIdForReceiver">
		<xs:annotation>
			<xs:documentation>This element contains the sending parties internal ID for the receiving party.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="orderId">
		<xs:annotation>
			<xs:documentation>a CommerceHub assigned ID for this purchase order.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="lineCount">
		<xs:annotation>
			<xs:documentation>The total number of line items (lineItem elements) contained in the purchase order.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="poNumber">
		<xs:annotation>
			<xs:documentation>This element contains the merchant assigned purchase order number.  This will be a unique value except in cases where the type attribute of the hubOrder element contains a value of ‘reissue’ or ‘resend’.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="orderDate">
		<xs:annotation>
			<xs:documentation>Contains the issue date for the purchase order.  CCYYMMDD format.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="shipTo">
		<xs:annotation>
			<xs:documentation>Contains an attribute that creates a link to a personPlace element, later in the message, that instructs the supplier where and to whom to ship the goods when fulfilling this order.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="personPlaceID" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>The value included in this attribute is used to reference another personPlaceID contained in a personPlace element.  The information contained in this subsequent personPlace element will contain the information related to the shipTo party.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="billTo">
		<xs:annotation>
			<xs:documentation>Contains an attribute that creates a link to a personPlace element, later in the message, that represents the party that paid the merchant for the goods.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="personPlaceID" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>The value included in this attribute is used to reference another personPlaceID contained in a personPlace element.  The information contained in this subsequent personPlace element will contain the information related to the billTo party.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="reqShipDate">
		<xs:annotation>
			<xs:documentation>Contains a specific date that should be used to arrange shipment.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="custOrderNumber">
		<xs:annotation>
			<xs:documentation>Contains the merchant assigned customer order number.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="poTypeCode">
		<xs:annotation>
			<xs:documentation>Contains a flag indicating if the purchase order is being re-issued (“R” = Re-issue).</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="R"/>
				<xs:enumeration value="issue"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="lineItemId">
		<xs:annotation>
			<xs:documentation>Contains a CommerceHub assigned ID for this line item.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="orderLineNumber">
		<xs:annotation>
			<xs:documentation>Contains a sequentially numbered line item number.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="merchantLineNumber">
		<xs:annotation>
			<xs:documentation>Contains the merchant assigned line item number from the purchase order.  The merchantLineNumber is not guaranteed to be sequential or in ascending order.  It is important to capture this value and return it correctly on all subsequent messages that require it..</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="qtyOrdered">
		<xs:annotation>
			<xs:documentation>Contains the quantity being ordered.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="unitOfMeasure">
		<xs:annotation>
			<xs:documentation>contains the unit of measure code that applies to the qtyOrdered element.  Normally with drop-ship this is a value of ‘EA’.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="description">
		<xs:annotation>
			<xs:documentation>Contains the item name or description for the product included on this line.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="400"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="description2">
		<xs:annotation>
			<xs:documentation>Contains an additional item name or description for the product included on this line.  In some cases this may be the description in a different language.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="400"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="merchantSKU">
		<xs:annotation>
			<xs:documentation>Contains the merchant ID for the specific variant of the product included on this line item.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vendorSKU">
		<xs:annotation>
			<xs:documentation>Contains the vendor ID for the specific variant of the product included on this line item.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="unitCost">
		<xs:annotation>
			<xs:documentation>Contains the per unit fulfilled cost that the merchant has agreed to pay the supplier.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="requestedArrivalDate">
		<xs:annotation>
			<xs:documentation>Contains the date the end customer wants the shipment to arrive.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="unitShippingWeight">
		<xs:annotation>
			<xs:documentation>Contains the per unit shipping weight for the product included in the line item.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute name="weightUnit">
				<xs:annotation>
					<xs:documentation>Contains the unit of measure that applies to the value contained in the unitShippingWeight element.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="lineReqShipDate">
		<xs:annotation>
			<xs:documentation>Contains the customer requested ‘do not ship before’ date.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="name1">
		<xs:annotation>
			<xs:documentation>Contains the name field for the associated party.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="address1">
		<xs:annotation>
			<xs:documentation>Contains the line 1 address field for the associated party.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="address2">
		<xs:annotation>
			<xs:documentation>Contains the line 2 address field for the associated party.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="city">
		<xs:annotation>
			<xs:documentation>Contains the city address for the associated party.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="state">
		<xs:annotation>
			<xs:documentation>Contains the state address for the associated party.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="country">
		<xs:annotation>
			<xs:documentation>Contains the country for the associated party.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="postalCode">
		<xs:annotation>
			<xs:documentation>Contains the postal code for the associated party.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="email">
		<xs:annotation>
			<xs:documentation>Contains the email address for the associated party.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="dayPhone">
		<xs:annotation>
			<xs:documentation>Contains the daytime phone number for the associated party.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="partnerPersonPlaceId" type="xs:token">
		<xs:annotation>
			<xs:documentation>Contains an ID for this entity assigned by the partner who maintains the data.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="companyName">
		<xs:annotation>
			<xs:documentation>Contains the company name associated with the related party.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="shippingCode">
		<xs:annotation>
			<xs:documentation>Contains a code that represents the shipping carrier and service level that should be used when fulfilling the purchase order.  Contact CommerceHub for a complete listing of valid shipping codes.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="giftMessage" type="xs:string">
		<xs:annotation>
			<xs:documentation>Contains a customer specified gift message.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="packslipTemplate">
		<xs:annotation>
			<xs:documentation>Contains a pre-defined value that selects one of several pack slip format options for this purchase order.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
